*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    &:hover{
        cursor: pointer;
        transform: scale(1.2);

    }
}


//colors
$navbar-text-color:#e8ecea9e;
//material design
$limedspruce: #21333E;
$diserria: #DC945C;
$elfgreen: #E94649;
$cloudy: #A5A09D;
$elm:#22918E; 
//median cut
$shark:#1C2224;
$blackhaze:#E8ECEA;
$seanymph:#729FA1;
$smaltblu:#50828C;
$capepalliser:#AC6B44;
//colorcube
$woodsmoke:#121117;
$white:#fff;
$bluelagoon:#048383;
$corduroy:#5C5E5E;
$edward:#AEB0B0;
$koromiko:#FEB169;
$fountainblue:#45BBBC;
$piper:#C86F29;
$anakiwa:#96FEFE;

$prova: #058283
