main{
    .about{
        background-color: $woodsmoke;
        .network-container{
            padding: 0 25%;
            display: flex;
            color: $white;
            .network-left{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 70px 0;
                padding-right: 60px;
                #about-title{
                    color: $elfgreen;
                    font-size: 14px;
                    margin: 20px 0;
                    font-weight: bold;
                }
                p{
                    color: $navbar-text-color;
                    font-size: 14px;
                    margin: 15px 0;
                }
                h2{
                    font-size: 45px;
                    font-weight: bold;
                    label{
                        background-color: #07828242;
                        padding: 0 10px;
                    }
                }
            }
            .network-right{
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                padding: 60px 0;
                .info-about{
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    i{
                        color: $elfgreen;
                        margin-right: 10px;
                        font-size: 18px;
                    }
                    p{
                        font-weight: bold;
                        font-size: 20px;
                        margin-top: 40px;
                    }
                    span{
                        color: $navbar-text-color;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .business-area{
        background-color: $blackhaze;
        height: 820px;
        .business-container{
            padding: 80px 25%;
            .business-title{
                padding-bottom: 40px;
                p{
                    font-weight: bold;
                    font-size: 14px;
                    color: $elfgreen;
                }
                h2{
                    color: $woodsmoke;
                    font-size: 35px;
                    margin: 30px 0;
                    label{
                        background-color: #07828242;
                        color: $elfgreen;
                        padding: 0 10px;
                    }
                }
                .text-business{
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: 14px;
                        color: $cloudy;
                    }
                    button{
                        background-color: $elfgreen;
                        color: $navbar-text-color;
                        padding: 5px 15px;
                        border-radius: 3px;
                    }
                }
            }
            .business-infos{
                width: 32%;
                float: left;
                border-radius: 10px;
                padding: 40px;
                background-color: $white;
                .symbol{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 40px;
                    color: $elfgreen;
                    i{
                        &:first-child{
                            cursor: text;
                        }
                    }
                }
                p{
                    color: $woodsmoke;
                    font-weight: bold;
                    font-size: 20px;
                    margin: 20px 0;
                }
                span{
                    color: $cloudy;
                    font-size: 13px;
                }
            }
            .mrg-right-bot{
                margin-right: 2%;
                margin-bottom: 2%;
            }
            .mrg-right{
                margin-right: 2%;
            }
        }
    }
    .management{
        padding: 100px 0;
        .title-management{
            text-align: center;
            padding: 0 36%;
            p{
                font-size: 14px;
                font-weight: bold;
                color: $elfgreen;
            }
            h2{
                color: $woodsmoke;
                font-size: 40px;
                margin: 30px 0;
                label{
                    color: $elfgreen;
                    background-color: #07828242;
                    padding: 5px 10px;
                }
            }
            span{
                font-size: 13px;
                color: $cloudy;
            }
        }
        .line-part{
            img{
                width: 100%;
            }
            .info-management{
                display: flex;
                padding: 0 8%;
                .infos{
                    width: 20%;
                    text-align: center;
                    margin: 0 50px ;
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.5);
                        border: 1px solid $elfgreen;
                        box-shadow: red 2px 2px 10px 
                    }
                    p{
                        color: $woodsmoke;
                        font-size: 20px;
                        font-weight: bold;
                        padding-bottom: 20px;
                    }
                    span{
                        font-size: 13px;
                        color: $cloudy; 
                    }
                }
            }
        }
    }
    .expert{
        background-color: $woodsmoke;
        .expert-container{
            padding: 60px 25%;
            p{
                font-weight: bold;
                font-size: 14px;
                color: $elfgreen;
            }
            .expert-overview{
                display: flex;
                .team-expert{
                    color: $white;
                    width: 65%;
                    h2{
                        font-size: 40px;
                        padding: 20px 0;
                        label{
                            background-color: #07828242;
                            padding: 5px 10px;
                        }
                    }
                    span{
                        color: $cloudy;
                        font-size: 13px;
                    }
                    .team-container{
                        .team{
                            display: flex;
                            flex-wrap: wrap;
                            padding-top: 25px;
                            // .last-photo{
                            //     margin-left:9px;
                            // }
                            .photo-team{
                                display: flex;
                                margin-right: 20px;
                                margin-bottom: 10px;
                                &:last-child{
                                    margin-left: -4px;
                                }
                                img{
                                    width: 100px;
                                    border-radius: 5px;
                                    margin-bottom: 20px;
                                    margin-right: 20px;
                                    &:hover{
                                        cursor: pointer;
                                        transform: scale(1.1);
                                    }
                                }
                                .info-img{
                                    padding: 5px 0;
                                    p{
                                        font-size: 20px;
                                        font-weight: bold;
                                        color: $white;
                                    }
                                    span{
                                        color: $cloudy;
                                        font-size: 12px;
                                        display: block; 
                                        margin: 20px 0;
                                    }
                                    i{
                                        color: $elfgreen;
                                        background-color: #07828242;
                                        border-radius: 50%;
                                        padding: 9px 11px;
                                    }
                                }
                            }
                        }
                    }
                }
                .speech{
                    width: 35%;
                    padding: 35px;
                    background-color: $elfgreen;
                    border-radius: 10px;
                    height: 430px;
                    p{
                        color: $white !important;
                        font-size: 21px;
                        margin-bottom: 10px;
                        font-weight: bold;
                    }
                    .text-speech{
                        font-size: 16px;
                        padding: 15px 0;
                        font-weight: normal;
                    }
                    #name-speech{
                        font-size: 14px;
                        margin-top: 20px;

                    }
                }
            }
        }
    }
    .news{
        .news-container{
            padding: 60px 25%;
            height: 620px;
            p{
                font-size: 14px;
                color: $elfgreen;
                font-weight: bold;
            }
            h2{
                color: $woodsmoke;
                font-size: 40px;
                margin: 30px 0;
                label{
                    color: $elfgreen;
                    background-color: #07828242;
                    padding: 5px 10px;
                }
            }
            .text-button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-size: 14px;
                    color: $cloudy;
                }
                button{
                    background-color: $elfgreen;
                    font-size: 15px;
                    padding: 10px 15px;
                    color: $white;
                    border-radius: 5px;
                }
            }
            .news-1{
                background-image: url('../../img/news-1.jpg');
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                &:hover p{
                    display: block;
                }
            }
            .news-2{
                background-image: url('../../img/news-2.jpg');
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                &:hover p{
                    display: block;
                }
            }
            .news-3{
                background-image: url('../../img/news-3.jpg');
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                &:hover p{
                    display: block;
                }
            }
            .publish{
                float: left;
                width: 32%;
                height: 300px;
                position: relative;
                margin: 40px 0;
                border-radius: 10px;
                p{
                    position: absolute;
                    right: 50%;
                    transform: translate(50%);
                    display: none;
                    background-color: #000;
                    opacity: 0.6;
                    font-size: 18px;
                    color: $white;
                    width: 100%;
                    height: 300px;
                    padding:215px 40px 20px 40px;
                    text-align: center;
                    border-radius: 10px;
                }
            }
            .mrg-bet{
                margin: 40px 2%;
            }
        }
    }
}