<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <div id="root">
        <header>
            <div class="navbar">
                <div class="left-part-navbar">
                    <p><i class="fas fa-clock"></i> Open Hours: Mon - Sat - 9:00 - 18:00 </p>
                </div>
                <div class="right-part-navbar">
                    <button><i class="fas fa-phone-alt"></i>+1 (305) 1234-5678</button>
                    <button><i class="fas fa-envelope"></i> hello@example.com</button>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
            <div class="jumbo">
                <div class="header-jumbo">
                    <div class="logo">
                        <img src="img/logo.svg" alt="">
                    </div>
                    <div class="info-jumbo">
                        <a v-for="text in textInsertJumbo" href="">{{text.jumbo}}</a>
                        <button v-for="text in buttonText">{{text.button}}</button>
                    </div>
                </div>
                <div class="container-presentation">
                    <div class="presentation-page">
                        <p>FUSIONS & ACQUISITIONS</p>
                        <h1>Insurance <br> Consulting</h1>
                        <div class="first-form form">
                            <input  placeholder="Name" type="text">
                            <input  placeholder="Email" type="text">
                        </div>
                        <div class="second-form form">
                            <input  placeholder="Phone" type="text">
                            <select  value="More info">
                                <option  value="More info">More info</option>
                                <option  value="">Private</option>
                                <option  value="">Agency</option>
                            </select>
                        </div>
                        <div class="buttons-presentation">
                            <button v-for="text in buttonText">{{text.button}}</button>
                            <button>READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="about">
                <div class="network-container">
                    <div class="network-left">
                        <p id="about-title">ABOUT THE NETWORK</p>
                        <h2><label>The</label> Company</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Ipsa, incidunt maiores blanditiis quae modi possimus asperiores
                             earum natus recusandae quasi! Itaque quod tempore porro 
                             quidem adipisci quos possimus earum minus?
                        </p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                             Culpa quidem eum debitis quod saepe laboriosam.
                        </p>
                    </div>
                    <div class="network-right">
                        <div v-for="about in infoAbout" class="info-about">
                            <p><i :class='`fas ${about.class}`'></i>{{about.title}}</p>
                            <span>{{about.text}}</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="business-area">
                <div class="business-container">
                    <div class="business-title">
                        <p>OUR BUSINESS AREA</p>
                        <H2>Excellence in <label>Services</label></H2>
                        <div class="text-business">
                            <span>We are leaders in providing consultancy services with a set 
                                of cutting-edge technologies and a team of <br> experienced and 
                                renowned professionals. These are some options that
                                you can hire.
                            </span>
                            <button>SEE ALL</button>
                        </div>
                    </div>
                    <div class="business-infos mrg-right-bot">
                        <div class="symbol">
                            <i class="fas fa-network-wired"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Audit & Assurance</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                    <div class="business-infos mrg-right-bot">
                        <div class="symbol">
                            <i class="fas fa-network-wired"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Financial Advisory</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                    <div class="business-infos">
                        <div class="symbol">
                            <i class="fas fa-chart-bar"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Analytics and M&A</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                    <div class="business-infos mrg-right">
                        <div class="symbol">
                            <i class="fas fa-plane"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Middle Marketing</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                    <div class="business-infos mrg-right">
                        <div class="symbol">
                            <i class="fas fa-globe-europe"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Legal Consulting</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                    <div class="business-infos">
                        <div class="symbol">
                            <i class="fas fa-inbox"></i>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <p>Regulatory Risk</p>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elit.</span>
                    </div>
                </div>
            </section>
            <section class="management">
                <div class="title-management">
                    <p>HOW IT WORKS IN PRACTICE</p>
                    <h2><label>Process</label> Management</h2>
                    <span>We work with inovative methodologies to ensure that the entire reformatting
                         process is done from start to finish as planned.</span>
                </div>
                <div class="line-part">
                    <img src="img/Line.png" alt="">
                    <div class="info-management">
                        <div class="infos">
                            <p>Collection of Information</p>
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="infos">
                            <p>Strategic planning</p>
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="infos">
                            <p>Assignment of responsibilities</p>
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="infos">
                            <p>Formatting process</p>
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                        <div class="infos">
                            <p>Continuity formalization</p>
                            <span>Lorem ipsum dolor sit amet consectetur</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="expert">
                <div class="expert-container">
                    <p>WE LIKE WHAT WE DO</p>
                    <div class="expert-overview">
                        <div class="team-expert">
                            <h2><label>Team</label> of Experts</h2>
                            <span>Ethics and integrity are the bases on which our professionals build their careers. <br>
                                They are fundamentals that become daily attitudes.
                            </span>
                            <div class="team-container">
                                <div class="team">
                                    <div                              
                                    v-for="(team,i) in teamExpert" class="photo-team">
                                        <img @click="setIuser(i)" :src="team.img" alt="">
                                        <div class="info-img">
                                            <p>{{team.name}}</p>
                                            <span>{{team.category}}</span>
                                            <i class="fab fa-facebook-f"></i>
                                            <i class="fab fa-twitter"></i>
                                            <i class="fab fa-linkedin-in"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speech">
                            <p>{{teamExpert[index].speechTitle}}</p>
                            <p class="text-speech">{{teamExpert[index].speechText1}}</p>
                            <p class="text-speech">{{teamExpert[index].speechText2}}</p>
                            <p class="text-speech">{{teamExpert[index].speechText3}}</p>
                            <p id="name-speech">{{teamExpert[index].name}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="news">
                <div class="news-container">
                    <p>OUR EDITORIAL CONTENT</p>
                    <h2>Latest <label>News</label></h2>
                    <div class="text-button">
                        <span>Every week we publish content about what is best in the business world.</span>
                        <button>SEE ALL</button>
                    </div>
                    <div class="publish news-1">
                        <p>Increasing creativity is possible for everyone</p>
                    </div>
                    <div class="publish news-2 mrg-bet">
                        <p>Because market researchis part of the business plan</p>
                    </div>
                    <div class="publish news-3">
                        <p>Working from home is now a trend</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <section class="newsletter">
                <div class="newsletter-container">
                    <div class="newsletter-box">
                        <p>NEWSLETTER</p>
                        <h2><label>Know</label> First</h2>
                        <span>Follow closely and receive content about our Company
                            and the news of the current market.
                        </span>
                    </div>
                    <div class="newsletter-box">
                        <input  placeholder="Name" type="text">
                        <input  placeholder="Email" type="text">
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </section>
            <section class="get-in-touch">
                <div class="get-container">
                    <div class="info-company">
                        <img src="img/logo.svg" alt="">
                        <span>A functional HTML Template for Corporate & Business.</span>
                        <span><i class="fas fa-phone-alt"></i>+1 (305) 1234-5678</span>
                        <span><i class="fas fa-envelope"></i>hello@example.com</span>
                        <span><i class="fas fa-map-marker-alt"></i>Main Avenue, 987</span>
                        <button v-for="text in buttonText">{{text.button}}</button>
                    </div>
                    <div class="more-info">
                        <ul>
                            <li class="header-li">About</li>
                            <li><i class="fas fa-chevron-right"></i>The Company</li>
                            <li><i class="fas fa-chevron-right"></i>Institutional</li>
                            <li><i class="fas fa-chevron-right"></i>Social & Events</li>
                            <li><i class="fas fa-chevron-right"></i>Innovation</li>
                            <li><i class="fas fa-chevron-right"></i>Enviroment</li>
                            <li><i class="fas fa-chevron-right"></i>Technology</li>
                        </ul>
                    </div>
                    <div class="more-info">
                        <ul>
                            <li class="header-li">Services</li>
                            <li><i class="fas fa-chevron-right"></i>Audit & Assurance</li>
                            <li><i class="fas fa-chevron-right"></i>Financial Advisory</li>
                            <li><i class="fas fa-chevron-right"></i>Analytics M&A</li>
                            <li><i class="fas fa-chevron-right"></i>Middle Marketing</li>
                            <li><i class="fas fa-chevron-right"></i>Legal Consulting</li>
                            <li><i class="fas fa-chevron-right"></i>Regulatory Risk</li>
                        </ul>
                    </div>
                    <div class="more-info">
                        <ul>
                            <li class="header-li">Support</li>
                            <li><i class="fas fa-chevron-right"></i>Responasbility</li>
                            <li><i class="fas fa-chevron-right"></i>Termo Of Use</li>
                            <li><i class="fas fa-chevron-right"></i>About Cookies</li>
                            <li><i class="fas fa-chevron-right"></i>Privacy Policy</li>
                            <li><i class="fas fa-chevron-right"></i>Accessibility</li>
                            <li><i class="fas fa-chevron-right"></i>Information</li>
                        </ul>
    
                    </div>
                </div>
            </section>
            <div class="end-page">
                <div class="end-page-container">
                    <div class="end-box">
                        <span>Enjoy the low price. We are tracking any intention of piracy.</span>
                    </div>
                    <div class="end-box">
                        <span><i class="far fa-copyright"></i> 2020 NEXGEN is Proudly Powered by <label>Codings</label></span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
    <script src="dist/js/app.js" charset="utf-8"></script>
</body>
</html>