* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #21333E;
}
header .navbar {
  padding: 15px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8ecea9e;
  font-size: 14px;
}
header .navbar .left-part-navbar i {
  margin-right: 5px;
}
header .navbar .left-part-navbar:hover {
  text-decoration: underline;
  color: #fff;
}
header .navbar .right-part-navbar button {
  background-color: transparent;
  color: #e8ecea9e;
}
header .navbar .right-part-navbar * {
  padding: 0 12px;
}
header .navbar .right-part-navbar *:hover {
  color: #fff;
  cursor: pointer;
}

.jumbo {
  height: 900px;
  background-image: url("../img/bg-6.jpg");
  background-position: center;
  background-color: #fff;
}
.jumbo .header-jumbo {
  padding: 15px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jumbo .header-jumbo img {
  height: 40px;
}
.jumbo .header-jumbo .info-jumbo * {
  padding: 0 20px;
  font-size: 17px;
}
.jumbo .header-jumbo .info-jumbo a {
  text-decoration: none;
  color: #1C2224;
}
.jumbo .header-jumbo .info-jumbo button {
  background-color: #078282;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
}
.jumbo .container-presentation {
  padding: 0 20%;
}
.jumbo .container-presentation .presentation-page {
  float: right;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-right: 30px;
}
.jumbo .container-presentation .presentation-page .form {
  margin: 10px;
}
.jumbo .container-presentation .presentation-page p {
  color: #048383;
  font-size: 18px;
  margin-bottom: 10px;
}
.jumbo .container-presentation .presentation-page h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #21333E;
}
.jumbo .container-presentation .presentation-page input {
  padding: 15px 15px;
  background-color: #CCD0D3;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding-right: 40px;
  margin: 5px;
}
.jumbo .container-presentation .presentation-page select {
  padding: 15px 15px;
  background-color: #CCD0D3;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding-right: 40px;
  margin: 5px;
  color: #757575;
  width: 47.5%;
}
.jumbo .container-presentation .presentation-page button {
  background-color: #078282;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 5px 5px 15px;
}
.jumbo .container-presentation .presentation-page button:last-child {
  background-color: #E8ECEA;
  color: #078282;
  border: 1px solid #078282;
}

.jumbo {
  height: 900px;
  background-image: url("../img/bg-6.jpg");
  background-position: center;
  background-color: #fff;
}
.jumbo .header-jumbo {
  padding: 15px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jumbo .header-jumbo img {
  height: 40px;
}
.jumbo .header-jumbo .info-jumbo * {
  padding: 0 20px;
  font-size: 17px;
}
.jumbo .header-jumbo .info-jumbo a {
  text-decoration: none;
  color: #1C2224;
}
.jumbo .header-jumbo .info-jumbo button {
  background-color: #078282;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
}
.jumbo .container-presentation {
  padding: 0 20%;
}
.jumbo .container-presentation .presentation-page {
  float: right;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-right: 30px;
}
.jumbo .container-presentation .presentation-page .form {
  margin: 10px;
}
.jumbo .container-presentation .presentation-page p {
  color: #048383;
  font-size: 18px;
  margin-bottom: 10px;
}
.jumbo .container-presentation .presentation-page h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #21333E;
}
.jumbo .container-presentation .presentation-page input {
  padding: 15px 15px;
  background-color: #CCD0D3;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding-right: 40px;
  margin: 5px;
}
.jumbo .container-presentation .presentation-page select {
  padding: 15px 15px;
  background-color: #CCD0D3;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding-right: 40px;
  margin: 5px;
  color: #757575;
  width: 47.5%;
}
.jumbo .container-presentation .presentation-page button {
  background-color: #078282;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 5px 5px 15px;
}
.jumbo .container-presentation .presentation-page button:last-child {
  background-color: #E8ECEA;
  color: #078282;
  border: 1px solid #078282;
}

main .about {
  background-color: #121117;
}
main .about .network-container {
  padding: 0 25%;
  display: flex;
  color: #fff;
}
main .about .network-container .network-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0;
  padding-right: 60px;
}
main .about .network-container .network-left #about-title {
  color: #078282;
  font-size: 14px;
  margin: 20px 0;
  font-weight: bold;
}
main .about .network-container .network-left p {
  color: #e8ecea9e;
  font-size: 14px;
  margin: 15px 0;
}
main .about .network-container .network-left h2 {
  font-size: 45px;
  font-weight: bold;
}
main .about .network-container .network-left h2 label {
  background-color: #07828242;
  padding: 0 10px;
}
main .about .network-container .network-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
}
main .about .network-container .network-right .info-about {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .about .network-container .network-right .info-about i {
  color: #078282;
  margin-right: 10px;
  font-size: 18px;
}
main .about .network-container .network-right .info-about p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}
main .about .network-container .network-right .info-about span {
  color: #e8ecea9e;
  font-size: 14px;
  line-height: 20px;
}
main .business-area {
  background-color: #E8ECEA;
  height: 820px;
}
main .business-area .business-container {
  padding: 80px 25%;
}
main .business-area .business-container .business-title {
  padding-bottom: 40px;
}
main .business-area .business-container .business-title p {
  font-weight: bold;
  font-size: 14px;
  color: #078282;
}
main .business-area .business-container .business-title h2 {
  color: #121117;
  font-size: 35px;
  margin: 30px 0;
}
main .business-area .business-container .business-title h2 label {
  background-color: #07828242;
  color: #078282;
  padding: 0 10px;
}
main .business-area .business-container .business-title .text-business {
  display: flex;
  justify-content: space-between;
}
main .business-area .business-container .business-title .text-business span {
  font-size: 14px;
  color: #A5A09D;
}
main .business-area .business-container .business-title .text-business button {
  background-color: #078282;
  color: #e8ecea9e;
  padding: 5px 15px;
  border-radius: 3px;
}
main .business-area .business-container .business-infos {
  width: 32%;
  float: left;
  border-radius: 10px;
  padding: 40px;
  background-color: #fff;
}
main .business-area .business-container .business-infos .symbol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  color: #078282;
}
main .business-area .business-container .business-infos p {
  color: #121117;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}
main .business-area .business-container .business-infos span {
  color: #A5A09D;
  font-size: 13px;
}
main .business-area .business-container .mrg-right-bot {
  margin-right: 2%;
  margin-bottom: 2%;
}
main .business-area .business-container .mrg-right {
  margin-right: 2%;
}
main .management {
  padding: 100px 0;
}
main .management .title-management {
  text-align: center;
  padding: 0 36%;
}
main .management .title-management p {
  font-size: 14px;
  font-weight: bold;
  color: #078282;
}
main .management .title-management h2 {
  color: #121117;
  font-size: 40px;
  margin: 30px 0;
}
main .management .title-management h2 label {
  color: #078282;
  background-color: #07828242;
  padding: 5px 10px;
}
main .management .title-management span {
  font-size: 13px;
  color: #A5A09D;
}
main .management .line-part img {
  width: 100%;
}
main .management .line-part .info-management {
  display: flex;
  padding: 0 8%;
}
main .management .line-part .info-management .infos {
  width: 20%;
  text-align: center;
  padding: 0 50px;
}
main .management .line-part .info-management .infos p {
  color: #121117;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
main .management .line-part .info-management .infos span {
  font-size: 13px;
  color: #A5A09D;
}
main .expert {
  background-color: #121117;
}
main .expert .expert-container {
  padding: 60px 25%;
}
main .expert .expert-container p {
  font-weight: bold;
  font-size: 14px;
  color: #078282;
}
main .expert .expert-container .expert-overview {
  display: flex;
}
main .expert .expert-container .expert-overview .team-expert {
  color: #fff;
  width: 65%;
}
main .expert .expert-container .expert-overview .team-expert h2 {
  font-size: 40px;
  padding: 20px 0;
}
main .expert .expert-container .expert-overview .team-expert h2 label {
  background-color: #07828242;
  padding: 5px 10px;
}
main .expert .expert-container .expert-overview .team-expert span {
  color: #A5A09D;
  font-size: 13px;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .last-photo {
  margin-left: 9px;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team {
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team img {
  width: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team .info-img {
  padding: 5px 0;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team .info-img p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team .info-img span {
  color: #A5A09D;
  font-size: 12px;
  display: block;
  margin: 20px 0;
}
main .expert .expert-container .expert-overview .team-expert .team-container .team .photo-team .info-img i {
  color: #078282;
  background-color: #07828242;
  border-radius: 50%;
  padding: 9px 11px;
}
main .expert .expert-container .expert-overview .speech {
  width: 35%;
  padding: 35px;
  background-color: #078282;
  border-radius: 10px;
  height: 430px;
}
main .expert .expert-container .expert-overview .speech p {
  color: #fff;
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}
main .expert .expert-container .expert-overview .speech .text-speech {
  font-size: 16px;
  color: #A5A09D;
  padding: 15px 0;
  font-weight: normal;
}
main .expert .expert-container .expert-overview .speech #name-speech {
  font-size: 14px;
  margin-top: 20px;
}
